<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON web token with vanilla js</title>
</head>
<body>
<div class="input">
    <label for="username">user name:</label>
    <input id="username">
    <label for="password">password:</label>
    <input id="password">
    <button onclick="login()">login</button>
</div>
<script>
    const login = () => {
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;


        const header = new Headers();
        header.append('Content-Type', 'application/json;charset=utf-8');
        fetch(`http://localhost:8080/auth`, {
            method: 'POST',
            headers: header,
            body: JSON.stringify({
                username: username,
                password: password
            })
        })
            .then(function(value){
                if (value.status !== 200){
                    return Promise.reject(new Error(value.status));
                }
                return value.json();
            })
            .then(function(output){
                window.localStorage.setItem('access_token', output.token);
                window.location.replace(`http://localhost:8082/requests`);
            })
            .catch(function(reason){
                console.log('error: ' + reason.status);
            })
    }
</script>
</body>
</html>
